<%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>
  <div class="lavel">日付を選択</div>
  <%= f.date_field :date, class: 'date-select' %>
  <div class="lavel">予定を入力</div>
  <%= f.text_field :plan, class: 'text-input' %>
  <%= f.submit '保存' %>
<% end %>

<div class='calendar'>
  <% @week_days.each do |day| %>
    <%= render partial: 'calendars', locals: { day: day} %>
  <% end %>
</div>